version: '3'

services:
  website:
    build: .
    container_name: hdafg-website
    restart: always
    ports:
      - 5000:80
    environment:
      - TZ=Europe/Berlin
      - DATABASE=mongodb://127.0.0.1/hdafg
      - SECRET_FOR_SESSION=<VERY_LONG_RANDOM_STRING>

      - ALL_CITIES=Ludwigsfelde{|:|}Das Hauptquartier der ab-strakten Freizeitgestaltung startete 2019 zeitgleich mit Philipp's Taverne und hat seinen Ursprung hier in Lud-wigsfelde.{|,|}Marburg{|:|}Das Hauptquartier der ab-strakten Freizeitgestaltung hat sich mittlerweile expan-diert und nun gibt es eine Außenstelle in Marburg.
      - MAIL_USER_LU=ludwigsfelde.noreply.hdafg
      - MAIL_PASSWORD_LU=<SECURE_PASSWORD_FOR_LU>
      - MAIL_USER_MA=marburg.noreply.hdafg
      - MAIL_PASSWORD_MA=<SECURE_PASSWORD_FOR_MA>
      - MAIL_TO=Melvin:melvin@gmail.com
    volumes:
      - /home/data/hdafg:/usr/src/app/uploads

networks:
  default:
    external: true
    name: codingisnuts