<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg - Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" sizes="16x16" href="/icon-16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icon-32.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/icon-48.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/icon-96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/icon-144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
        <link rel="icon" type="image/png" sizes="256x256" href="/icon-256.png" />
        <link rel="icon" type="image/png" sizes="384x384" href="/icon-384.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png" />
        <script src="/modernizr-webp.js"></script>
        <link rel="stylesheet" href="/style-dashboard.css" />
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/dashboard.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="spacer-lr"></div>
        <div id="content-container" class="nav-open preview-close">
            <header>
                <div class="header">
                    <nav>
                        <div class="nav-image">
                            <a href="/dashboard">
                                <div class="nav-logo"></div>
                            </a>
                        </div>
                        <div class="nav-events">
                            <button
                                onclick="selectInNav({ id: 'events', displayName: 'Events', subItems: [{ id: 'create-event', displayName: 'Event erstellen' }, { id: 'edit-event', displayName: 'Event bearbeiten' }, { id: 'delete-event', displayName: 'Event löschen' }, { id: 'list-events', displayName: 'Events auflisten' }] })"
                            >
                                Events
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'create-event', displayName: 'Event erstellen' })"
                            >
                                Event erstellen
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'edit-event', displayName: 'Event bearbeiten' })"
                            >
                                Event bearbeiten
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'delete-event', displayName: 'Event löschen' })"
                            >
                                Event löschen
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'list-events', displayName: 'Events auflisten' })"
                            >
                                Events auflisten
                            </button>
                        </div>
                        <!--<div class="nav-registrations">
                            <button
                                onclick="selectInNav({ id: 'registrations', displayName: 'Anmeldungen', subItems: [{ id: 'create-registration', displayName: 'Anmeldung erstellen' }, { id: 'edit-registration', displayName: 'Anmeldung bearbeiten' }, { id: 'delete-registration', displayName: 'Anmeldung löschen' }, { id: 'list-registrations', displayName: 'Anmeldungen auflisten' }] })"
                            >
                                Anmeldungen
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'create-registration', displayName: 'Anmeldung erstellen' })"
                            >
                                Anmeldung erstellen
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'edit-registration', displayName: 'Anmeldung bearbeiten' })"
                            >
                                Anmeldung bearbeiten
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'delete-registration', displayName: 'Anmeldung löschen' })"
                            >
                                Anmeldung löschen
                            </button>
                            <button
                                class="nav-sub-item"
                                onclick="selectInNav({ id: 'list-registrations', displayName: 'Anmeldungen auflisten' })"
                            >
                                Anmeldungen auflisten
                            </button>
                        </div>-->
                        <div class="nav-logout">
                            <a href="/logout">Logout</a>
                        </div>
                    </nav>
                    <footer>&copy; <%= new Date().getFullYear() %> - <br />Hosted by Melvin Focke</footer>
                </div>
            </header>
            <main>
                <div class="main">
                    <button class="nav-open-button" onclick="openNav()">Nav</button>
                    <button class="preview-open-button" onclick="openPreview()">Preview</button>
                    <div id="main-process-bar">
                        <div class="main-percentage-container">
                            <span id="main-percentage">0%</span>
                        </div>
                        <div class="main-bar-background">
                            <div id="main-bar"></div>
                        </div>
                    </div>
                    <h1 id="main-headline"></h1>
                    <p id="main-p"></p>
                    <div id="main-button-section"></div>
                </div>
                <div class="preview">
                    <h2>Preview</h2>
                    <div id="preview-content" class="preview-content">
                        <p class="no-preview-p">Derzeit steht keine Vorschau zur Verfügung.</p>
                    </div>
                </div>
            </main>
        </div>
        <div class="spacer-lr"></div>
    </body>
</html>
