<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg - Events</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/style.css" />
        <!-- prettier-ignore -->
        <script> </script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-image">
                    <a href="#">
                        <image src="/logo1.png" alt="h.d.a.fg Logo" class="logo-big" />
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#">Startseite</a>
                </div>
                <div class="nav-item">
                    <a href="#hdafg">h.d.a.fg?</a>
                </div>
                <div class="nav-item">
                    <a href="#events">Events</a>
                </div>
                <div class="nav-item">
                    <a href="#kontakt">Kontakt</a>
                </div>
            </nav>
        </header>
        <div class="welcome-img"></div>
        <main>
            <div class="spacer-lr"></div>
            <div id="content-container">
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="hdafg">h.d.a.fg?</h3>
                        <h2>Hauptquartier der abstrakten Freizeitgestaltung</h2>
                        <p>
                            Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er
                            Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm
                            große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht
                            sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer
                            hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu
                            genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet, welcher
                            keine daraus resultierende Freude nach sich zieht? Auch gibt es niemanden, der den Schmerz
                            an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu
                            zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein
                            triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher
                            Betätigung.
                        </p>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="seperator">
                    <div class="spacer-lr"></div>
                    <div>
                        <hr />
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="events">Events</h3>
                        <h2>Alle anstehenden Events</h2>
                        <p>
                            Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er
                            Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm
                            große Freude.
                        </p>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="events-container">
                    <!--<div class="event-div">
                        <image src="/event1-img.png" alt="Novalja NIGHTBEAT photo"></image>
                        <h4>Novalja NIGHTBEAT</h4>
                        <p>
                            Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht?Auch gibt es
                            niemanden, der den Schmerz an sich liebt
                        </p>
                        <a href="/novalja-nightbeat">Jetzt anmelden</a>
                    </div>
                    <div class="event-div">
                        <image src="/event1-img.png" alt="Novalja NIGHTBEAT photo"></image>
                        <h4>Novalja NIGHTBEAT</h4>
                        <p>Schmerz vermeidet</p>
                        <a href="/novalja-nightbeat">Jetzt anmelden</a>
                    </div>
                    <div class="event-div">
                        <image src="/event1-img.png" alt="Novalja NIGHTBEAT photo"></image>
                        <h4>Novalja NIGHTBEAT</h4>
                        <p>Schmerz vermeidet, welcher keine daraus resultierende</p>
                        <a href="/novalja-nightbeat">Jetzt anmelden</a>
                    </div>
                    <div class="event-div">
                        <image src="/event1-img.png" alt="Novalja NIGHTBEAT photo"></image>
                        <h4>Novalja NIGHTBEAT</h4>
                        <p>
                            Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht?Auch gibt es
                            niemanden
                        </p>
                        <a href="/novalja-nightbeat">Jetzt anmelden</a>
                    </div>
                    <div class="event-div">
                        <image src="/event1-img.png" alt="Novalja NIGHTBEAT photo"></image>
                        <h4>Novalja NIGHTBEAT</h4>
                        <p>Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht?</p>
                        <a href="/novalja-nightbeat">Jetzt anmelden</a>
                    </div>-->
                    {CONTENT}
                </div>
                <div class="seperator">
                    <div class="spacer-lr"></div>
                    <div>
                        <hr />
                    </div>
                    <div class="spacer-lr"></div>
                </div>
                <div class="inner-content">
                    <div class="spacer-lr"></div>
                    <div>
                        <h3 id="kontakt">Kontakt</h3>
                        <h2>Social Media & E-Mail</h2>
                        <p>
                            Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er
                            Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm
                            große Freude.
                        </p>
                        <p>
                            Instagram:
                            <a
                                class="link"
                                href="https://www.instagram.com/h.d.a.fg"
                                target="_blank"
                                rel="noopener noreferrer"
                                >@h.d.a.fg</a
                            ><br />
                            E-Mail: <a class="link" href="mailto:info.hdafg@gmail.com">info.hdafg@gmail.com</a>
                        </p>
                    </div>
                    <div class="spacer-lr"></div>
                </div>
            </div>
            <div class="spacer-lr"></div>
        </main>
        <footer>Copyright 2021 - Hosted by Melvin Focke</footer>
    </body>
</html>
