<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg - Anmeldung gesendet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="shortcut icon" type="image/png" href="/favicon.png" />-->
    </head>
    <body>
        <header>
            <h1>Hauptquartier der abstrakten Freizeitgestaltung</h1>
        </header>
        <main>
            <div id="success-container">
                <h2>Deine Anmeldung für {CONTENT} wurde erfolgreich übermittelt</h2>
                <p>
                    Die endgültige Zusage und Daten wie Uhrzeit, Adresse und was mitgebracht werden soll findest du in
                    deiner Bestätigungswhatsapp.
                </p>
                <p>Du erhälst nach spätestens 24 Stunden eine Antwort.</p>
                <p>Erste Einblicke jetzt auf <a href="https://www.instagram.com/h.d.a.fg">Instagram @h.d.a.fg</a></p>
                <p>Du kannst diesen Browser-Tab jetzt schließen.</p>
            </div>
        </main>
        <footer>Copyright 2021 - Hosted by Melvin Focke</footer>
    </body>
</html>
