<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>h.d.a.fg - Events</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="shortcut icon" type="image/png" href="/favicon.png" />-->
    </head>
    <body>
        <header>
            <h1>Hauptquartier der abstrakten Freizeitgestaltung</h1>
        </header>
        <main>
            <div id="event-container">{CONTENT}</div>
        </main>
        <footer>Copyright 2021 - Hosted by Melvin Focke</footer>
    </body>
</html>
