:root {
    --background-dark-blue: #032966;
    --background-very-dark-blue: #031b43;
    --background-black: #000000;
    --background-gray: #414751;
    --background-light-gray: rgba(255, 255, 255, 0.25);
    --background-dark-gray: rgba(22, 22, 22, 0.5);
    --accent-neon-pink: #fc2177;
    --nav-bar: rgba(252, 33, 119, 0.9);
    --text-light-gray: #f1f1f1;
    --text-dark-gray: #2c2c2c;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

#content-container {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(var(--background-dark-blue), var(--background-black));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-black);
}

::-webkit-scrollbar-thumb {
    background: var(--background-gray);
}

/* logo and nav bar */
header {
    z-index: 1;
    height: 42px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-bar);
}

nav {
    display: flex;
    z-index: 3;
    /*flex-wrap: wrap;*/
}

nav > .nav-item {
    flex: unset;
    margin: 13px 6px;
    text-align: center;
    font-size: 14px;
}

nav a {
    color: var(--text-light-gray);
    text-decoration: underline solid transparent;
    transition: 0.3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
nav a:hover {
    color: var(--text-dark-gray);
    text-decoration-color: var(--background-dark-gray);
}

main a {
    text-decoration: none;
    color: var(--text-light-gray);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.logo-navbar {
    height: 42px;
    width: 138px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.no-webp .logo-navbar {
    background-image: url('/logo-276-84.png');
    background-image: -webkit-image-set(url('/logo-138-42.png') 1x, url('/logo-276-84.png') 2x);
    background-image: image-set('/logo-138-42.png' 1x, '/logo-276-84.png' 2x);
}

.webp .logo-navbar {
    background-image: url('/logo-276-84.webp');
    background-image: -webkit-image-set(url('/logo-138-42.webp') 1x, url('/logo-276-84.webp') 2x);
    background-image: image-set('/logo-138-42.webp' 1x, '/logo-276-84.webp' 2x);
}

nav .nav-item-start {
    display: none;
}

.welcome-img {
    z-index: 1;
    width: 100%;
    height: 82vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.no-webp .welcome-img {
    background-image: url('/welcome-img-563-563.png');
}

.webp .welcome-img {
    background-image: url('/welcome-img-563-563.webp');
}

@media only screen and (min-width: 563px) {
    .no-webp .welcome-img {
        background-image: url('/welcome-img-960-960.png');
    }
    .webp .welcome-img {
        background-image: url('/welcome-img-960-960.webp');
    }
}

@media only screen and (min-width: 960px) {
    .no-webp .welcome-img {
        background-image: url('/welcome-img-1400-1400.png');
    }
    .webp .welcome-img {
        background-image: url('/welcome-img-1400-1400.webp');
    }
}

@media only screen and (min-width: 1400px) {
    .no-webp .welcome-img {
        background-image: url('/welcome-img-1950-1950.png');
    }
    .webp .welcome-img {
        background-image: url('/welcome-img-1950-1950.webp');
    }
}

@media only screen and (min-width: 1950px) {
    .no-webp .welcome-img {
        background-image: url('/welcome-img-2600-2600.png');
    }
    .webp .welcome-img {
        background-image: url('/welcome-img-2600-2600.webp');
    }
}

@media only screen and (min-width: 2600px) {
    .no-webp .welcome-img {
        background-image: url('/welcome-img-3024-3024.png');
    }
    .webp .welcome-img {
        background-image: url('/welcome-img-3024-3024.webp');
    }
}

@media only screen and (min-width: 355px) {
    nav > .nav-item {
        margin: 13px 12px;
    }
}

@media only screen and (min-width: 420px) {
    nav > .nav-item {
        margin: 13px 13px;
    }
    nav .nav-item-start {
        display: flex;
    }
}

/* Main section */
main {
    display: grid;
    grid-template-columns: minmax(8px, auto) minmax(150px, 1140px) minmax(8px, auto);
}

.inner-content {
    /*margin: 22px 150px 22px 150px;*/
    display: grid;
    grid-template-columns: minmax(30px, auto) minmax(130px, 840px) minmax(30px, auto);
}

h2 {
    color: var(--text-light-gray);
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px 0;
}

h3 {
    color: var(--text-light-gray);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    padding: 50px 0 0 0;
}

p {
    color: var(--text-light-gray);
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
}

/* Event div */
.events-container {
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 25%;
    justify-content: center;
    gap: 40px;
}

.event-div {
    box-shadow: 0 0 30px var(--background-dark-gray);
    width: 256px;
    height: 441px;
    background-color: var(--background-light-gray);
    padding-bottom: 14px;
}

.event-photo {
    width: 100%;
    height: 144px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.event-div h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-light-gray);
    text-align: center;
    margin: 20px 5px 0 5px;
    overflow: hidden;
    height: 46px;
}

.event-div p {
    line-height: 1.4;
    text-align: left;
    margin: 0 20px 0 20px;
    height: 180px;
}

.event-div button {
    display: block;
    cursor: pointer;
    color: var(--text-light-gray);
    background-color: transparent;
    height: 40px;
    width: 216px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0 20px;
    padding: 8px 16px 8px 16px;
    border-color: var(--text-light-gray);
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

.event-div button:hover {
    margin: -2px 16px;
    padding: 10px 20px 10px 20px;
    width: 224px;
    height: 44px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

/* Footer */
footer {
    padding: 20px 0 30px 0;
    color: var(--text-dark-gray);
    text-align: center;
}

.link {
    text-decoration: underline dotted var(--accent-neon-pink);
    transition: color 0.3s;
}

.link:hover {
    color: var(--accent-neon-pink);
}

/* Seperator */
.seperator {
    display: grid;
    grid-template-columns: minmax(80px, auto) minmax(5px, 100%) minmax(80px, auto);
}

.seperator hr {
    margin-top: 40px;
    border: 1px solid var(--accent-neon-pink);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: var(--background-gray);
    /*margin: -265px 0 0 0;*/
    /*margin: -448px 0 0 0;*/
    top: 0;
    margin: 5px 5px 5px -140px;
    /*top: 50%;*/
    left: 50%;
    padding: 0;
    width: 280px;
    /*height: 955px;*/
    height: auto;
    display: flex;
    box-shadow: 0 0 5px var(--text-light-gray);
    -webkit-animation-name: animatemodal;
    -webkit-animation-duration: 0.3s;
    animation-name: animatemodal;
    animation-duration: 0.3s;
}

@-webkit-keyframes animatemodal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animatemodal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content .modal-content-img {
    width: 400px;
    /*height: 525px;*/
    height: 100%;
    margin: 0;
}

.modal-content .modal-content-right {
    width: 280px;
    height: auto;
    margin: 0 0 6px 0;
    z-index: 2;
}

.form {
    display: inline-block;
    margin-block-end: 0;
}

.form-container-left {
    width: 100%;
    height: 237px;
}

.form-container-left * {
    margin: 0 10px 0 20px;
    color: var(--text-light-gray);
    width: 240px;
}

.form-container-left input {
    background-color: transparent;
    font-size: 16px;
    border: 3px solid var(--text-light-gray);
    padding: 6px 8px;
    margin: 5px 10px 16px 20px;
    line-height: 1.4;
}

.form-container-right {
    width: 50%;
    height: 237px;
}

.form-container-right * {
    margin: 0 20px 0 20px;
    color: var(--text-light-gray);
    width: 240px;
}

.form-container-right textarea {
    resize: none;
    height: 144px;
    background-color: transparent;
    font-size: 16px;
    border: 3px solid var(--text-light-gray);
    padding: 6px 8px;
    margin: 5px 20px 16px 20px;
    line-height: 1.4;
}

.form-container-right button {
    width: 240px;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0 20px 0 20px;
    padding: 8px 16px 8px 16px;
    border: 3px solid var(--text-light-gray);
    transition: 0.3s;
    height: 40.22px;
}

.form-container-right button:hover {
    margin: -2px 16px -2px 16px;
    width: 248px;
    height: 44px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

.modal-content-img {
    display: none;
}

.modal-content img {
    width: 100%;
    /*height: 525px;*/
    height: 100%;
}

.modal-content p {
    margin: 0 20px 20px 20px;
    text-align: justify;
}

.modal-content .close {
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
    color: var(--text-light-gray);
    cursor: pointer;
    transition: 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-content .close:hover {
    color: var(--accent-neon-pink);
}

.modal-content h2 {
    margin-top: 35px;
}

@media only screen and (min-width: 563px) {
    #modal-p {
        height: 150px;
    }
    .form {
        display: flex;
    }
    .modal-content {
        width: calc(100% - 10px);
        margin: 5px 5px 5px 5px;
        left: 0;
        height: 525px;
        /*left: 0;*/
        /*margin: -243px 5px 0 5px;*/
    }

    .form-container-left {
        width: 50%;
    }

    .form-container-right * {
        margin: 0 20px 0 10px;
    }

    .form-container-right textarea {
        margin: 5px 20px 16px 10px;
    }

    .form-container-right button {
        margin: 0 20px 0 10px;
    }

    .form-container-right button:hover {
        margin: -2px 16px -2px 6px;
    }

    .modal-content-img {
        display: block;
    }

    .modal-content .modal-content-right {
        width: 540px;
        height: 460px;
        margin: 0 0 35px 0;
    }
}

@media only screen and (min-width: 960px) {
    .modal-content {
        width: 940px;
        left: 50%;
        margin-left: -470px;
        /*margin: -243px 0 0 -470px;*/
    }
}

@media only screen and (min-height: 585px) and (min-width: 563px) {
    .modal-content {
        top: 50%;
        margin-top: -242px;
        height: 525px;
    }
}

.button-close {
    display: block;
    cursor: pointer;
    color: var(--text-light-gray);
    background-color: transparent;
    height: 40px;
    width: 240px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0 20px 0 20px;
    padding: 8px 16px 8px 16px;
    border-color: var(--text-light-gray);
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

.button-close:hover {
    margin: -2px 16px -2px 16px;
    width: 248px;
    height: 44px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

.text-container {
    display: flex;
}

.text-container-left {
    display: none;
    width: 280px;
    height: 217px;
}

.text-container-right {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
}

.text-container-right .checkbox-img {
    width: 0;
    margin: 0 -15px 0 0;
    height: auto;
    float: right;
    padding: 0;
}

@media only screen and (min-width: 563px) {
    .text-container-left {
        height: 237px;
    }

    .text-container-right {
        display: none;
        width: 260px;
        height: 237px;
        visibility: visible;
    }

    .text-container-right .checkbox-img {
        width: 240px;
        height: 240px;
        margin: -25px 0 0 0;
        padding: 0 5px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .no-webp .text-container-right .checkbox-img {
        background-image: url('/checkbox-pink-480-480.png');
        background-image: -webkit-image-set(url('/checkbox-pink-240-240.png') 1x, url('/checkbox-pink-480-480.png') 2x);
        background-image: image-set('/checkbox-pink-240-240.png' 1x, '/checkbox-pink-480-480.png' 2x);
    }
    .webp .text-container-right .checkbox-img {
        background-image: url('/checkbox-pink-480-480.webp');
        background-image: -webkit-image-set(
            url('/checkbox-pink-240-240.webp') 1x,
            url('/checkbox-pink-480-480.webp') 2x
        );
        background-image: image-set('/checkbox-pink-240-240.webp' 1x, '/checkbox-pink-480-480.webp' 2x);
    }
}

.modal-content-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.required {
    color: var(--accent-neon-pink);
    margin: 0;
    padding: 0;
}

#modal-h2-displayname {
    width: 540px;
}

#givenname {
    transition: 0.2s;
}

#surname {
    transition: 0.2s;
}

#phone {
    transition: 0.2s;
}
