:root {
    --background-gray: #414347;
    --background-light-gray: rgba(255, 255, 255, 0.25);
    --background-dark-gray: rgba(22, 22, 22, 0.5);
    --text-light-gray: #f1f1f1;
    --accent-neon-pink: #fc2177;
    --background-dark-blue-top: #011432;
    --background-dark-blue-bottom: #010409;
    --background-dark-blue-2-top: #02132e;
    --background-dark-blue-2-bottom: #010c1e;
    --background-gray-top: #414e65;
    --background-gray-bottom: #414a57;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: var(--background-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--background-gray);
}

button,
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
    margin: 0;
    display: grid;
    grid-template-columns: minmax(0px, auto) minmax(250px, 1140px) minmax(0px, auto);
}

#content-container {
    display: flex;
    box-shadow: 0 0 20px var(--text-light-gray);
    outline: 2px solid var(--text-light-gray);
}

.spacer-lr {
    background-image: linear-gradient(var(--background-dark-blue-top), var(--background-dark-blue-bottom));
    z-index: -1;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * FOOTER  * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * */

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
    color: var(--text-light-gray);
    font-size: 12px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * HEADER  * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * */

header {
    position: relative;
    /*background-image: linear-gradient(var(--background-dark-blue-top), var(--background-dark-blue-bottom));*/
}

.header {
    border-right: 2px solid var(--text-light-gray);
    height: 100vh;
    background-color: var(--background-light-gray);
}

nav {
    padding-top: 24px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}

nav > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 20px 0;
}

nav button,
nav a {
    width: 100%;
    padding: 3px 6px;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    color: var(--text-light-gray);
    border: none;
    text-decoration: none;
    transition: color 0.3s;
}

nav button:hover,
nav a:hover {
    color: var(--accent-neon-pink);
}

.nav-sub-item {
    padding: 3px 6px 3px 18px;
}

.nav-logo {
    height: 42px;
    width: 138px;
    margin: 0 21px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.no-webp .nav-logo {
    background-image: url('/admin-logo-276-84.png');
    background-image: -webkit-image-set(url('/admin-logo-138-42.png') 1x, url('/admin-logo-276-84.png') 2x);
    background-image: image-set('/admin-logo-138-42.png' 1x, '/admin-logo-276-84.png' 2x);
}

.webp .nav-logo {
    background-image: url('/admin-logo-276-84.webp');
    background-image: -webkit-image-set(url('/admin-logo-138-42.webp') 1x, url('/admin-logo-276-84.webp') 2x);
    background-image: image-set('/admin-logo-138-42.webp' 1x, '/admin-logo-276-84.webp' 2x);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * CONTENT DIV * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    background-image: linear-gradient(var(--backgrond-dark-blue-top), var(--background-dark-blue-bottom));
}

.main {
    width: 100%;
    height: 100vh;
    transition: width 0.3s;
    outline: 2px solid var(--text-light-gray);
    background-color: var(--background-light-gray);
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-process-bar {
    visibility: hidden;
    display: flex;
    position: relative;
    gap: 10px;
    width: auto;
    height: 20px;
    padding: 34px 20px;
}

.main-percentage-container {
    display: flex;
    height: 16px;
    width: 47px;
    position: relative;
    top: calc(50% - 8px);
}

#main-percentage {
    color: var(--text-light-gray);
    text-align: right;
    width: 100%;
}

.main-bar-background {
    background-color: var(--background-light-gray);
    width: 100%;
    height: 10px;
    padding: 2px;
    position: relative;
    top: calc(50% - 7px);
}

#main-bar {
    background-color: var(--accent-neon-pink);
    position: relative;
    top: calc(50% - 5px);
    height: 10px;
    width: 0%;
    transition: width 0.3s;
}

#main-button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40px);
    height: auto;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    border-top: 2px solid var(--text-light-gray);
}

#main-button-section div {
    position: relative;
    width: 180px;
    height: 60px;
}

#main-button-section button {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 75px);
    display: block;
    cursor: pointer;
    color: var(--text-light-gray);
    background-color: transparent;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 8px 16px 8px 16px;
    border-color: var(--text-light-gray);
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

#main-button-section button:hover {
    margin: -2px -4px;
    padding: 10px 20px 10px 20px;
    width: 158px;
    height: 44px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

.main h1 {
    color: var(--text-light-gray);
    font-size: 30px;
    padding: 10px 20px;
    margin: 0;
}

.main p {
    font-size: 17px;
    color: var(--text-light-gray);
    line-height: 1.8;
    padding: 5px 20px;
    margin: 0;
}

#main-p button {
    padding: 3px 6px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    color: var(--text-light-gray);
    border: none;
    text-decoration: underline dotted var(--accent-neon-pink);
    transition: color 0.3s;
}

#main-p button:hover {
    color: var(--accent-neon-pink);
}

.main input,
.main textarea {
    background-color: transparent;
    resize: vertical;
    font-size: 16px;
    color: var(--text-light-gray);
    border: 3px solid var(--text-light-gray);
    padding: 6px 8px;
    margin: 5px 0 16px 0;
    line-height: 1.4;
}

.main textarea {
    height: 150px;
}

#input-container {
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

#input-container > * {
    width: 100%;
}

.preview {
    height: 100vh;
    width: 290px;
    background-color: var(--background-light-gray);
}

#preview-photo-1 {
    z-index: 10;
}

.preview-open .preview {
    border-left: 2px solid var(--text-light-gray);
}

.preview > h2 {
    color: var(--text-light-gray);
    text-align: center;
    font-size: 28px;
    margin: 28px 0;
}

.preview .no-preview-p {
    position: relative;
    text-align: center;
    width: 216px;
    font-size: 17px;
    color: var(--text-light-gray);
    background-color: var(--background-light-gray);
    line-height: 1.8;
    padding: 195px 20px 200px 20px;
    margin: 0 17px;
}

.preview-content-background {
    height: calc(100vh - 100px - 48px);
}

.preview-content {
    width: 290px;
    padding: 17px 0;
    background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
}

.input-radio {
    display: block;
}

.input-radio input {
    margin: 5px 5px 16px 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * EVENT DIV * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.event-div {
    position: relative;
    left: calc(50% - 128px);
    box-shadow: 0 0 30px var(--background-dark-gray);
    width: 256px;
    height: 441px;
    background-color: var(--background-light-gray);
    padding-bottom: 14px;
}

.event-photo {
    width: 100%;
    height: 144px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.event-div h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-light-gray);
    text-align: center;
    margin: 20px 5px 0 5px;
    overflow: hidden;
    height: 46px;
}

.event-div p {
    font-size: 17px;
    color: var(--text-light-gray);
    line-height: 1.4;
    text-align: left;
    margin: 0 20px 0 20px;
    height: 180px;
}

.event-div button {
    display: block;
    cursor: pointer;
    color: var(--text-light-gray);
    background-color: transparent;
    height: 40px;
    width: 216px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0 20px;
    padding: 8px 16px 8px 16px;
    border-color: var(--text-light-gray);
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

.event-div button:hover {
    margin: -2px 16px;
    padding: 10px 20px 10px 20px;
    width: 224px;
    height: 44px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * LIST EVENTS * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.nav-open-button,
.preview-open-button {
    top: 5px;
    position: absolute;
    z-index: 1;
    display: block;
    cursor: pointer;
    color: var(--text-light-gray);
    background-color: transparent;
    height: 20px;
    width: 70px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 1px 4px 1px 4px;
    border-color: var(--text-light-gray);
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

.nav-open-button {
    left: 7px;
}

.preview-open-button {
    right: 7px;
}

.nav-open-button:hover,
.preview-open-button:hover {
    margin: -2px -4px;
    padding: 3px 8px 3px 8px;
    width: 78px;
    height: 24px;
    color: var(--text-dark-gray);
    border-color: var(--text-light-gray);
    background-color: var(--text-light-gray);
}

.preview-open .nav-open-button {
    display: none;
}

.nav-open .preview-open-button {
    display: none;
}

.list-events-table {
    width: 100%;
}

.list-events-table span {
    overflow-wrap: anywhere;
    color: var(--text-light-gray);
}

.list-events-table .spacer {
    width: auto;
}

.list-events-table .event-id {
    width: 140px;
}

.list-events-table .event-is-visible {
    width: 70px;
}

.list-events-table .event-button {
    width: 25px;
}

.preview-close .preview {
    width: 0;
    transition: width 0.3s;
}

.preview-open .preview {
    position: absolute;
    width: 290px;
    transition: width 0.3s;
    outline: 4px solid var(--text-light-gray);
}

.preview-close .preview-content {
    background-image: linear-gradient(transparent, transparent);
    width: 0;
    transition: width 0.3s;
}

.preview-open .preview-content {
    background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
    width: 290px;
    transition: width 0.3s;
}

.preview-open .preview-content > *,
.preview-open .preview > h2 {
    display: block;
    transition: 0.3s;
}

.preview-open .main {
    width: auto;
    transition: width 0.3s;
    outline: none;
}

.preview-open main {
    width: 290px;
    position: absolute;
    right: 0;
}

.preview-close .preview-content > *,
.preview-close .preview > h2 {
    display: none;
    transition: 0.3s;
}

.preview-open .main > *:not(.nav-open-button, .preview-open-button),
.preview-open header,
.preview-open .main div > *,
.preview-open #main-button-section,
.preview-open #main-process-bar {
    display: none;
}

.nav-open header,
.nav-open .header {
    width: 220px;
    transition: width 0.3s;
}

.nav-close header,
.nav-close .header {
    width: 0px;
    transition: width 0.3s;
}

.nav-open .header > nav,
.nav-open footer {
    opacity: 1;
    width: 210px;
    transition: 0.3s;
}

.nav-close .header > nav,
.nav-close footer {
    opacity: 0;
    width: 0;
    transition: 0.3s;
}

.nav-close .header button,
.nav-close .header a {
    display: none;
}

.nav-open .main {
    width: 0;
    transition: width 0.3s;
}

.nav-open .main > *:not(.nav-open-button, .preview-open-button),
.nav-open .main div > *,
.nav-open #main-button-section {
    display: none;
}

.preview-open-button,
.nav-open-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.upload-btn {
    color: var(--text-light-gray);
    border: none;
    text-decoration: underline dotted var(--accent-neon-pink);
    transition: color 0.3s;
}

.upload-btn:hover {
    color: var(--accent-neon-pink);
}

.upload-progress-tracker > h3 {
    display: none;
}

@media only screen and (min-width: 680px) {
    .nav-close .preview,
    .nav-close .preview > h2 {
        width: 290px;
    }

    .preview-content {
        border-left: 2px solid var(--text-light-gray);
    }

    .nav-close .preview-content {
        background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
        width: 290px;
        transition: width 0.3s;
    }

    .nav-close .preview-content > *,
    .nav-close .preview > h2 {
        display: block;
    }

    .nav-open .main {
        width: 100%;
    }

    .nav-open .main > *:not(.nav-open-button, .preview-open-button),
    .nav-open .main div > *,
    .nav-open #main-button-section {
        display: block;
    }

    .preview-open-button {
        opacity: 0;
        visibility: hidden;
    }

    .preview-open .preview,
    .preview-close .preview {
        position: relative;
        width: 290px;
        transition: width 0.3s;
        outline: 2px solid var(--text-light-gray);
    }

    .preview-open .preview-content,
    .preview-close .preview-content {
        background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
        width: 290px;
        transition: width 0.3s;
    }

    .preview-open .preview-content > *,
    .preview-open .preview > h2,
    .preview-close .preview-content > *,
    .preview-close .preview > h2 {
        display: block;
        transition: 0.3s;
    }

    .preview-open .main,
    .preview-close .main {
        width: 100%;
        transition: width 0.3s;
        outline: 2px solid var(--text-light-gray);
    }

    .preview-open main,
    .preview-close main {
        width: 100%;
        position: relative;
    }

    .preview-open .main > *:not(.nav-open-button, .preview-open-button),
    .preview-open header,
    .preview-open .main div > *:not(.input-radio),
    .preview-close .main > *:not(.nav-open-button, .preview-open-button),
    .preview-close header,
    .preview-close .main div > *:not(.input-radio) {
        display: block;
    }

    .preview-open #main-button-section,
    .preview-open #main-process-bar,
    .preview-close #main-button-section,
    .preview-close #main-process-bar {
        display: flex;
    }

    .input-radio {
        display: flex;
    }
}

@media only screen and (min-width: 830px) {
    .nav-close header,
    .nav-close .header,
    .nav-open header,
    .nav-open .header {
        width: 220px;
    }

    .nav-close .header > nav,
    .nav-close footer,
    .nav-open .header > nav,
    .nav-open footer {
        opacity: 1;
    }

    .nav-close .header button,
    .nav-close .header a {
        display: inline-block;
    }

    .nav-close .header > nav,
    .nav-close footer {
        opacity: 1;
        width: 100%;
    }

    .nav-open .preview,
    .nav-open .preview > h2 {
        width: 290px;
    }

    .nav-open .preview-content {
        background-image: linear-gradient(var(--background-dark-blue-2-top), var(--background-dark-blue-2-bottom));
        width: 290px;
        transition: width 0.3s;
    }

    .nav-open .preview-content > *,
    .nav-open .preview > h2 {
        display: block;
    }

    .nav-open-button {
        opacity: 0;
        visibility: hidden;
    }
}
